.section-container {
  position: relative; 
  padding: 20px;
  text-align: center;
  color: #fff; 
}


.search-bar-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%; /* Responsive width */
  max-width: 800px; 
  padding: 10px 40px;
  border: 2px solid #556b2f;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 42%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 18px;
}

h2 {
  font-size: 28px;
  margin: 30px 0 15px;
  color: white; 
  font-weight:bolder;
  border: 2px solid #556b2f; 
  background-color: #556b2f;
  font-family: 'TimesNewRoman', 'Helvetica', sans-serif; /* Fallbacks */
  padding: 5px;
  border-radius: 5px;
}

.image-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* Prevent vertical scrolling */
  gap: 15px;
  padding: 10px 0;
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.image-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.image-scroll img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-scroll img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px #A4C8A0;
}

hr {
  margin: 40px 0;
  border: 1px solid #e0e0e0;
}
